".source.js":
  "Gulp Require Variable":
    prefix: "guv"
    body:"""
    var ${1:plugin-variable} = require('gulp-${2:plugin-name}');$3
    """
  "Gulp Task Array":
    prefix: "gut"
    body:"""
    gulp.task('${1:my_task}', ['$2'], function() {
        ${3://Do stuff}
    });$4
    """
  "Gulp Task Watch":
    prefix: "guw"
    body:"""
    gulp.task('watch', function () {
      gulp.watch('$1', ['$2'])$3
    });$4
    """
  "Gulp Pipe":
    prefix: 'gup'
    body:"""
    .pipe(${1:name}('${2:file}'))$3
    """
  "Gulp Pipe Options":
    prefix: "guo"
    body:"""
    .pipe($1({$2:'$3'}))$4
    """
  "Gulp Task Source":
    prefix: "gus"
    body:"""
    gulp.task('${1:Task}'), function () {
      return gulp.src('${2:Source}')
      .pipe(${3:name}($4))$5
    });$6
    """
