".source.coffee":
  "Coffee Gulp Task Source":
    prefix: "cgus"
    body:"""
    gulp.task '${1:name}',->
        gulp.src '${2:sources}'
        .pipe ${3:name}()
        $4
  """
  "Coffee Gulp Pipe":
    prefix: "cgup"
    body:"""
    .pipe ${1:name} '${2:file}'
    $3
  """
  "Coffee Require variable":
    prefix: "cguv"
    body:"""
    ${1:plugin-variable} = require '${2:plugin-name}'
    $3
  """
  "Coffee Gulp Pipe Dest":
    prefix: "cpid"
    body:"""
    .pipe gulp.dest '${1:dest}';$2
    $3
  """
  "Coffee Gulp Task Array":
    prefix: "cgut"
    body:"""
    gulp.task '${1:my_task}', ['$2'],->
        ${3://Do stuff}
    $4
  """
  "Coffee pipe":
    prefix: "cuop"
    body:"""
    .pipe ${1:name} '${2:}'$3
    $4
  """
